# Configurações do Dashboard
DASH_SENHA=admin123

# Configurações do Banco de Dados
DATABASE_URL=sqlite:///integracoes.db

# Configurações de Debug
DEBUG=False

# Configurações do Streamlit
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_ADDRESS=localhost
STREAMLIT_SERVER_HEADLESS=false
STREAMLIT_BROWSER_GATHER_USAGE_STATS=false

# Configurações de Log
LOG_LEVEL=INFO