# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.env
*.env.*
.env
.env.*
*.env
*.env.*
*.sqlite3
*.log
.DS_Store
.vscode/
.idea/
*.bak
*.swp
*.swo
*.~
.history/

# CSVs da Api - Mateus
Api - Mateus/**/*.csv


# CSVs de vendas
script_vendas/**/*.csv


# CSVs de historico
batidas_super_paguemenos/**/*.csv



# CSVs de pivotar
Pivotar_batidas/**/*.csv


__pycache__/
*.pyc
.env
