# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.env
*.env.*
.env
.env.*
*.env
*.env.*
*.sqlite3
*.log
.DS_Store
.vscode/
.idea/
*.bak
*.swp
*.swo
*.~
.history/


__pycache__/
*.pyc
.env
docs
Bi_integracao_v2/DEV_GUIDE.md
limpar_status_3_direto.py
